/* Style for the clock container */
.clock {
    width: 300px; /* Width of the watch */
    height: 300px; /* Height of the clock */
    border: 10px solid rgb(0, 0, 0); /* Edge of the clock */
    border-radius: 50%; /* Round Shape */
    position: relative; /* Positioning of the hands */
    margin: 50px auto; /* Centers the clock */
    background: rgb(0, 0, 0); /* Background color */
}

/* Dots for quarter hour marks*/

.marking {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
}

.marking-one {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.marking-two {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.marking-three {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.marking-four {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Common styles for all pointers */
.hand {
    width: 50%; /* Length of the hands */
    background: rgb(255, 0, 0); /* Color of the hands */
    position: absolute;
    top: 50%; /* Starting point in the middle */
    transform-origin: 100%; /* Pivot point at the end of the pointer */
}

.hour-hand {
    height: 8px; /* Hour hand thickness */
    background: #ff0000; /* Color of the hour hand */
    transform: rotate(90deg); /* Starting position of the pointer */
}

.min-hand {
    height: 5px; /* Minute hand thickness */
    background: #ff0000; /* Minute hand color */
    transform: rotate(90deg); /* Starting position of the pointer */
}

.second-hand {
    height: 2px; /* Second hand thickness */
    background: red; /* Second hand color */
    transform: rotate(90deg); /* Starting position of the pointer */
}

@media (max-width: 500px) {
    .clock {
        width: 200px; /* Adaptation for smaller screens */
        height: 200px;
    }
}
